
<!-- <app-landing></app-landing> -->
<br>
<div class="bg">
  <div class="text-center bg1" style="border-radius: 4px;padding: 10px;"><h3>Disaster Recovery Plan</h3></div>
  

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <img src="../assets/image/bsn-1.png" alt="logo" style="width:30%;" >
      
  
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
  
      <!-- Login Form -->
      
      <form [formGroup]=login (ngSubmit)="onSubmit(login.value)">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username" formControlName="username">

        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" formControlName="password">
        
        <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
        <button class="button fadeIn fourth">Log In</button>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>