<div class="bg" style="font-family: monospace;">

<!-- <div class="text-center" style="background-color: #24a0ed;color: white; border-radius: 4px;padding: 10px;"><h3>1)  Preperation</h3></div> -->

<div style="justify-content: space-evenly;padding: 10px;background-color: white;border-radius: 4px;border-color: #24a0ed !important;border-width: 1px !important;" class=" border ">
  <!-- <div style="justify-content: space-evenly;padding: 25px;background-color: white;border-radius: 4px;border-color: #24a0ed !important;border-width: 2px !important;"> -->
  <!-- <div class="text-center" style="color: #666; border-radius: 4px;padding: 7px;"><h4>1.1)	Overall Readiness  </h4></div> -->
  
  
  <div class="row">
    <div  class="col-md-3">
      <label class="label">DR Name</label>
      <input type="text" id="process"  placeholder='DR NAME' [value]="name" class="form-control rounded border-white"  readonly/>
    </div>
   
    <div class="col">
      <label class="label">Description</label>
      <input type="text" id="process"  placeholder='DR Description' [value]="description" class="form-control rounded border-white" readonly/>
    </div>
  
    <div style="width: 12.499999995%" class="col-md-2">
      <label class="label">Start Date</label>
      <input type="date" id="process"  placeholder='Process' [value]="startdate" class="form-control rounded border-white" readonly/>
    </div>
    <div style="width: 12.499999995%" class="col-md-2">
      <label class="label" >End Date</label>
      <input type="date" id="process"  placeholder='Process' [value]="enddate" class="form-control rounded border-white" readonly/>
    </div>
  </div>
  <!-- <div class="row">
  <div class="col-md-1">
    <label class="label">Sno.</label>
    <input type="text" id="process"  placeholder='Process' class="form-control rounded border-white" value="1.1.1" readonly/>
    
  </div>
  <div class="col">
    <label class="label">Process</label>
    <textarea id="process" rows="4"  placeholder='Process' class="form-control rounded border-white" required></textarea>
  </div>
  <div class="col">
    <label class="label">Detail Step</label>
    <textarea id="process" rows="4"  placeholder='Detail Step' class="form-control rounded border-white" required></textarea>
  </div>
  
</div>
<div class="row">
  <div class="col-md-2">
    <label class="label">Expected Result</label>
    <select class="form-control">
      <option value="1">Successfull</option>
      <option value="2">Failure</option>
    </select>
    <label class="label">Actual Result</label>
    <select class="form-control">
      <option value="1">Successfull</option>
      <option value="2">Failure</option>
    </select>
  </div>
  
  <div class="col-md-2">
    <label class="label">Planned Start Time</label>
    <input type="time" id="process"   class="form-control rounded border-white" required/>
    
    <label class="label">Planned End Time</label>
    <input type="time" id="process"   class="form-control rounded border-white" required/>
  </div>
  <div class="col">
    <label class="label">Maker</label>
    <input type="text" id="process"  placeholder='Maker' class="form-control rounded border-white" required/>
    
    <label class="label">Checker</label>
    <input type="text" id="process"  placeholder='Checker' class="form-control rounded border-white" required/>
  </div>
  <div class="col">
    <label class="label">Note\Remarks</label>
    <textarea id="process" rows="4"  placeholder='Note\Remarks' class="form-control rounded border-white" required></textarea>
  </div>
</div> -->
</div>
</div>

